h1{
        background-color: black;
        color:white;
        height: 100px;
        margin-top: -7px;
        
    }

h2{
        margin-left:100px;
        margin-top: 70px;
        font-size: xx-large;
}
p{
        margin-left: 100px;
        margin-right: 100px;
        font-size: large;
}

body img{
        margin-left: 100px;
        margin-top: 0px;

}

p1{
        margin-top: px;
        font-size: small;
        text-align: center;
        border: 10px rgb(0, 0, 0);
}
footer{
        margin: auto;
        background-color: black;
        color: white;
}